<!DOCTYPE html>
<html lang="{{ lang }}" dir="{{ dir }}">
	<head>
		<meta charset="UTF-8" />
		<meta content="true" name="HandheldFriendly" />
		<title>{{ title }}</title>
		<link rel="stylesheet" href="/css/global.css"></link>
	</head>
	<body>
		<div class="container">
			<div class="header">
				<ul class="nav">
					<li class="nav-left">
						<ul class="nav">
							<li><big><b>{{ sitename }}</b></big></li>
						</ul>
					</li>
					<li class="nav-right">
						<ul class="nav">
							<li><span class="nav-btn" id="btn-lang"></span></li>
						</ul>
						<ul class="dropdown nav-lang is-hidden">
							<li><img class="icon" src="/img/globe.svg" /> {{ text.languages }}</li>
							{% for alt in alternates %}
							<li>
								<a {% if alt.lang == lang %}disabled class="is-bold is-active"{% else %}href="{{ alt.url }}"{% endif %}>{{ alt.lang }}</a>
							</li>
							{% endfor %}
						</ul>
					</li>
				</ul>
			</div>
			<div class="content">
				{{ content | safe }}
			</div>
		</div>
		<div class="footer">Created and maintained by Taskforce Horseshoe.{% if contributors %}<br/>Contributors of this page: {% for contributor in contributors %}{{contributor}}{% if loop.last %}{% else %}, {% endif %}{% endfor %}{% endif %}</div>
		<script src="/js/global.js" defer></script>
	</body>
</html>
